@import '../variables';
@import '../mixins/media-queries';

$dark-brown: darken($offwhite, 65%);

.article {
  padding-bottom: $gutter;
  overflow-x:hidden;
}

.article__title {
  width:100%;
  padding:0;
  margin:20px 0 0 0;
  //
  font-weight:300;
  font-size:2rem;
  //
  @include mq(md) {
    text-align:center;
    font-size:2.5rem;
  }
  //
  @include mq(lg) {
    color:$dark-brown;
    line-height:2.85rem;
  }
}

.article__meta {
  display:block;
  //
  @include mq(md) {
    max-width:300px;
    margin:0 auto;
    text-align:center;
  }
  //
  font-size:.8rem;
  color:$dark-brown;
}

.article__meta__date {
  font-size:1rem;
  font-weight:bold;
  padding-left:5px;
  color:$blue;
}

.article__content {
  font-size:1rem;
  font-family:georgia,"times new roman",times,serif;
  //
  @include mq(lg) {
    background-color:$white;
    border-radius:5px;
    border:1px solid darken($offwhite, 15%);
    margin-top:$gutter * 2
  }
  //
  h3 {
    text-transform: uppercase;
    color: $white;
    padding:($gutter / 2) $gutter;
    background-color: $dark-blue;
    font-family: $sans;
  }
  //
  ul {
    padding-left:$gutter;
    margin-bottom:1rem;
    //
    li {
      padding:.2rem 0;
      list-style-type:square;
    }
  }
  //
  p {
    margin-bottom:1rem;
  }
  //
  table {
    width:100%;
    margin:0;
    padding:0;
    font-size:13px;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid $light-grey;
    font-family: $sans;
    //
    th, td {
      padding:$gutter / 2;
      margin:0;
    }
    //
    thead {
      background-color: $light-grey;
    }
    //
    tbody {
      //
      tr:nth-child(odd) {
          background: $lighter-grey;
      }
    }
  }
}