@import '../variables';
@import '../mixins/media-queries';

$dark-brown: darken($offwhite, 65%);

.article {
  padding-bottom: $gutter;
  overflow-x:hidden;
}

.article__title {
  width:100%;
  padding:0;
  margin:20px 0 0 0;
  //
  font-weight:normal;
  text-align:center;
  font-size:2rem;
  //
  @include mq(md) {
    font-size:2.5rem;
  }
  //
  @include mq(lg) {
    color:$dark-brown;
    line-height:2.85rem;
  }
}

.article__meta {
  display:block;
  max-width:300px;
  margin:0 auto;
  text-align:center;
  font-size:.8rem;
  color:$dark-brown;
}

.article__meta__date {
  font-size:1rem;
  font-weight:bold;
  padding-left:5px;
  color:$blue;
}

.article__content {
  font-size:1rem;
  //
  @include mq(lg) {
    background-color:$white;
    border-radius:5px;
    border:1px solid darken($offwhite, 15%);
    margin-top:$gutter * 2
  }
  //
  h3 {
    text-transform: uppercase;
    color: $white;
    padding:($gutter / 2) $gutter;
    background-color: $dark-blue;
  }
  //
  h3:first-of-type {
    margin-top:0;
  }
  //
  ul {
    padding-left:$gutter;
    margin-bottom:1rem;
    //
    li {
      padding:.2rem 0;
      list-style-type:square;
    }
  }
  //
  p {
    margin-bottom:1rem;
  }
}