.on-canvas {
	position:relative;
	left:0;
	margin-left:0;
	background-color:$white;
	transition:left 1s ease;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	//
	@include mq(lg) {
		background-color:$offwhite;
	}
	//
	width:auto;
	height:100%;
	overflow:auto;
	//
	@include mq(lg) {
		margin-left:$sidebar-width;
	}
	//
	&.reveal {
		position:absolute;
		width:100%;
		left:$sidebar-width;
		transition: left 1s;
	}
}

.overlay {
	position:fixed;
	bottom: 0;
	top:0;
	left: 0;
	right:0;
	z-index: 10;
	background-color: rgba(0,0,0,0.8); /*dim the background*/
}

.reveal .overlay {
	position:absolute;
	@include mq(lg) {
		left: 0;
	}
}