.form {
	//
	.input {
		width:100%;
		line-height:$line-height-md;
		padding:$padding-sm;
		border:none;
		background-color:$black;
		//
		&::-webkit-input-placeholder {
			color:$blue;
			font-size:$font-sm;
		}
	}
}

.label {
	font-size:$font-sm;
	line-height:$line-height-sm;
}