.sidebar {
	position:absolute;
	width:$sidebar-width;
	height:100%;
	overflow:hidden;
	background-color:$blue;
	z-index:0;
	//
	a {
		color:$white;
		text-decoration:none;
	}
}

.sidebar__contact-card {
	position:absolute;
	bottom:0;
	width:$sidebar-width;
	background-color:$blue;
	border-top:1px solid $dark-blue;
	padding:$gutter;
	color:$white;
}

.sidebar__contact-card__destination {
	//
	i {
		margin-right:5px;
	}
	//
	span {
		font-size:15px;
	}
}

.site-brand {
	background-color:$dark-blue;
}

.sidebar__label {
	display:inline-block;
	padding:0;
	margin:0;
	max-width:180px;
	//
	a {
		border-bottom:0;
	}
}

.sidebar__control {
	@include clearfix();
	padding:$gutter;
	color:$white;
}

.site-nav__type-select {
	padding-top:$gutter;
	//
	i {
		margin-right:10px;
	}
	//
	.btn {
		@include btn-md;
		color:lighten($blue,50%);
		text-transform:capitalize;
		//
		&:hover {
			color:$white;
			background-color:$darker-blue;
		}
		//
		&.active {
			color:$blue;
			font-weight:bold;
			background-color:$white!important;
		}
	}
}

.site-nav__post-list {
	padding-top:($gutter*2);
	//
	ul {
		margin:0;
		padding:0;
		list-style-type:none;
		//
		li {
			position:relative;
			padding:0 0 0 22px;
			margin:0 0 0 0;
			@include clearfix();
			//
			a {
				display:block;
				cursor:pointer;
				border-bottom:0;
			}
			//
			i {
				position:absolute;
				top:4px;
				left:0;
				color:$dark-blue;
			}
			//
			&:hover i {
				color:$light-blue;
			}
			//
			&.active i {
				transition: color .7s ease;
				color:$white!important;
			}
			//
			.site-nav__post-list__li__date {
				cursor:default;
				color:$darker-blue;
				font-size:.8rem;
			}
		}
	}
}