@import '../variables';
@import '../mixins/media-queries';

body {
	font-family: $sans, sans-serif;
}

a {
	text-decoration:none;
	color:$link-color;
	border-bottom:1px solid lighten($link-color, 20%);
	transition:all .2s linear;
	//
	&:hover {
		border-bottom:2px solid $link-color;
	}
}

h1, h2, h3, h4, h5 {
	margin-top:3rem;
	margin-bottom:1rem;
}

.bold {
	font-weight:bold;
}