.reveal .site-header__label {
	width:0;
	height:0;
}

.site-header__label {
	margin: $gutter;
	float: right;
	max-width:175px;
	width:175px;
	transition: 1s width ease-in;
	//
	a {
		display:block;
		border-bottom:0;
		//
		&:hover {
			border-bottom:0;
		}
	}
}