.article__content {
  font-size:1rem;
  font-family:georgia,"times new roman",times,serif;
  //
  @include mq(lg) {
    background-color:$white;
    border-radius:5px;
    border:1px solid darken($offwhite, 15%);
    margin-top:$gutter * 2
  }
  //
  h3 {
    text-transform: uppercase;
    color: $white;
    padding:($gutter / 2) $gutter;
    background-color: $dark-blue;
    font-family: $sans;
  }
  //
  ul {
    padding-left:$gutter;
    margin-bottom:1rem;
    //
    li {
      padding:.2rem 0;
      list-style-type:square;
    }
  }
  //
  p {
    margin-bottom:1rem;
  }
  //
  table {
    width:100%;
    margin:0;
    padding:0;
    font-size:13px;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid $light-grey;
    font-family: $sans;
    //
    th, td {
      padding:$gutter / 2;
      margin:0;
    }
    //
    thead {
      background-color: $light-grey;
    }
    //
    tbody {
      //
      tr:nth-child(odd) {
          background: $lighter-grey;
      }
    }
  }
}